.vending-machine {
  height: 100%;
  background-color: #393646;
  padding: 1rem;
}

.bottom {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}